<%- include('partials/_header'); -%>

<div class="container">

<br />
<!--Modal window trigger button -->
<button type="button" class="btn btn-success margin-left-3 rounded" data-toggle="modal" data-target="#agregar" >Agregar Expediente Administrativo</button>
<br /><br />

<!--Insert Modal window-->
<div class="modal fade" role="dialog"  id="agregar">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Expediente</h5>
        
      </div>

      <div class="modal-body">
      
        <form action="/admon/add" method="post">
            
            <div class="form-group">
              <label type="text">Nombre</label>
              <select type="text" name="id_organization" placeholder="Aliado" class="form-control rounded">
                <% console.log(data); %>
                <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                  <option value="<%= data.orgs[i].id_organization %>"> <%= data.orgs[i].org_name %></option>
                 <% } %>
                 <% } %>
              </select>
            </div>
            <div class="form-group">
              <label type="text">Acta constitutiva</label>
              <select name="constitutive_act" placeholder="Acta constitutiva" class="form-control rounded">
                <option>No aplica</option>
                <option>Sí</option>
                <option>No</option>
                </select>
            </div>
            <div class="form-group">
                <label type="text">Constancia de situación fiscal</label>
                <select name="fiscal_constance" placeholder="Constancia de situación fiscal" class="form-control rounded">
                  <option>No aplica</option>
                  <option>Sí</option>
                  <option>No</option>
                  </select>
              </div>
            
              <div class="form-group">
                <label type="text">Opinión de cumplimiento</label>
                <select name="compliance_opinion" placeholder="Opinión de cumplimiento" class="form-control rounded">
                  <option>No aplica</option>
                  <option>Sí</option>
                  <option>No</option>
                  
                  </select>
              </div>
              <div class="form-group">
                <label type="text">CURP</label>
                <select name="curp" placeholder="CURP" class="form-control rounded">
                    <option>No aplica</option>
                    <option>Sí</option>
                    <option>No</option>
                  
                  </select>
              </div>
              <div class="form-group">
                <label type="text">RFC</label>
                <select name="rfc" placeholder="RFC" class="form-control rounded">
                    <option>No aplica</option>
                    <option>Sí</option>
                    <option>No</option>
                  
                  </select>
              </div>
              <div class="form-group">
                <label type="text">Comprobante de domicilio</label>
                <select name="address_voucher" placeholder="Comprobante de domicilio" class="form-control rounded">
                    <option>No aplica</option>
                    <option>Sí</option>
                    <option>No</option>
                  
                  </select>
              </div>
              <div class="form-group">
                <label type="text">Cáratula de estado de cuenta</label>
                <select name="account_status" placeholder="Cáratula del estado de cuenta" class="form-control rounded">
                    <option>No aplica</option>
                    <option>Sí</option>
                    <option>No</option>
                  
                  </select>
              </div>
              <div class="form-group">
                <label type="text">Identificación oficial</label>
                <select name="official_id" placeholder="Identificación oficial" class="form-control rounded">
                    <option>No aplica</option>
                    <option>Sí</option>
                    <option>No</option>
                  
                  </select>
              </div>
              <div class="form-group">
                <label type="text">Poder legal</label>
                <select name="legal_power" placeholder="Poder legal" class="form-control rounded">
                    <option>No aplica</option>
                    <option>Sí</option>
                    <option>No</option>
                  
                  </select>
              </div>
            <div class="form-group">
              <label type="text">Fecha de actualización</label>
              <input name="update_date" id="datepicker" width="415" value="N/A" class="form-control rounded"/>
            <script>
              $('#datepicker').datepicker({
                  uiLibrary: 'bootstrap4',
                  format: 'dd/mm/yyyy'

              });
            </script>
            </div>
            
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info rounded">Guardar</button>
        <button type="button" class="btn btn-danger rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </form>

    </div>
  </div>
</div>
<!--End of insert modal window-->

<!--Body Table-->
<div class="card-body">
  <div class="table-responsive">
      <table id="table" class="table table-sm table-active table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acta constitutiva</th>
            <th>Constancia de situación fiscal</th>
            <th>Opinión de cumplimiento</th>
            <th>CURP</th>
            <th>RFC</th>
            <th>Comprobante de domicilio</th>
            <th>Cáratula de edo. de cuenta</th>
            <th>Identificación oficial</th>
            <th>Poder legal</th>
            <th>Fecha de actualización</th>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data.data) { %>
            <% for(var i = 0; i < data.data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data.data[i].org_name %></td>
                <td><%= data.data[i].constitutive_act %></td>
                <td><%= data.data[i].fiscal_constance %></td>
                <td><%= data.data[i].compliance_opinion %></td>
                <td><%= data.data[i].curp %></td>
                <td><%= data.data[i].rfc %></td>
                <td><%= data.data[i].address_voucher %></td>
                <td><%= data.data[i].account_status %></td>
                <td><%= data.data[i].official_id %></td>
                <td><%= data.data[i].legal_power %></td>
                <td><%= data.data[i].update_date %></td>
                <td>
                  <a href="admon/update/<%= data.data[i].id_admon %>" class="btn-sm btn-info rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </a>
                <br /> <br /> 
                  <button class="btn-sm btn-danger rounded" data-toggle="modal" data-target="#eliminar<%= data.data[i].id_admon %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                </td>
            
              </tr>

      <!--Delete modal window-->
 <div class="modal" id="eliminar<%= data.data[i].id_admon %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar expediente</h5>
      </div>
      <div class="modal-body">
        <p>Realmente deseas eliminar este expediente?</p>
      </div>
      <div class="modal-footer">
        <a href="/admon/delete/<%= data.data[i].id_admon %>" class="btn btn-danger rounded">Eliminar</a>
        <button type="button" class="btn btn-secondary rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!--End of delete modal window-->

            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  
 
</div> 




<%- include('partials/_footer'); -%>