<%- include('partials/_header'); -%>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card">
        <div class="card-body">
          <h5>Editar Consultor</h5>
  
          <form action="/consultor/update/<%= data.id_consultor %>" method="POST">
            <div class="form-group">
                <label type="text">Nombre Completo/Razón Social</label>
                <input type="text" name="full_name" value="<%= data.full_name %>" placeholder="Ingresa aquí el nombre completo o Razón Social del consultor" class="form-control rounded" autofocus required>
              </div>
              
              <div class="form-group">
                <label type="text">RFC</label>
                <input type="text" name="rfc" value="<%= data.rfc %>" placeholder="Ingresa aquí el RFC del consultor" class="form-control rounded" maxlength="13" minlength="12" required>
              </div>

              <div class="form-group">
                <label for="prof_speciality">Especialidad profesional</label>
                <select name="prof_speciality" id="prof_speciality" title="<%= data.prof_speciality %>" class="form-control rounded selPic" multiple required>
                  <option>Administración y finanzas para OSC</option>
                  <option>Comunicación externa e interna</option>
                  <option>Consititución legal y trámite de donatarias autorizadas</option>
                  <option>Desarrollo de indicadores</option>
                  <option>Desarrollo de proyecto institucional</option>
                  <option>Desarrollo de proyectos sociales con enfoque de marco lógico</option>
                  <option>Design thinking y co-creación</option>
                  <option>Economía circular</option>
                  <option>Estructura organizacional</option>
                  <option>Estructura programática</option>
                  <option>Gestión del Talento Humano</option>
                  <option>Gobernanza-Órgano de Gobierno</option>
                  <option>Herramientas digitales para la gestión de OSC</option>
                  <option>Innovación y emprendimiento social</option>
                  <option>Liderazgo</option>
                  <option>Liderazgo colaborativo</option>
                  <option>Marco legal y fiscal para OSC</option>
                  <option>Mercadotecnia social</option>
                  <option>Modelo de intervención</option>
                  <option>Modelos de negocio en economía social</option>
                  <option>Movilización de recursos</option>
                  <option>Pensamiento sistémico</option>
                  <option>Planeación estratégica</option>
                  <option>Planeación operativa anual</option>
                  <option>Responsabilidad social</option>
                  <option>Sistemas de evaluación y monitoreo</option>
                  <option>Teoría de cambio</option>
                  <option>Voluntariado</option>
                </select>
              </div>

              <div class="form-group">
                <label type="text">Teléfono</label>
                <input type="text" name="phone" value="<%= data.phone %>" placeholder="Ingresa aquí el teléfono del consultor" class="form-control rounded" minlength="10" maxlength="10" required>
              </div>

              <div class="form-group">
                <label type="text">Teléfono 2</label>
                <input type="text" name="phone2" value="<%= data.phone2 %>" placeholder="Ingresa aquí el teléfono 2 del consultor (opcional)" class="form-control rounded"  maxlength="10">
              </div>

               <div class="form-group">
                    <label type="text">Correo Electrónico</label>
                    <input type="email" name="email" value="<%= data.email %>" placeholder="Ingresa el correo electrónico del consultor" class="form-control rounded" required>
               </div>

               <div class="form-group">
                    <label type="text">Código postal</label>
                    <input type="text" name="postal_code" value="<%= data.postal_code %>" placeholder="Ingresa el código postal del consultor" maxlength="5" minlength="5" class="form-control rounded" required> 
               </div>

               <div class="form-group">
                <label type="text">Registra</label>
                <input type="text" name="register" value="<%= data.register %>" class="form-control rounded" readonly> 
               </div>
  
            <button type="submit" class="btn btn-info rounded">
              Actualizar
            </button>
              
            <a href="/consultor" class="btn btn-danger rounded">
              Cancelar
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/_footer'); -%>