<%- include('partials/_header'); -%>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <h5>Editar Contacto</h5>

        <form action="/contact/update/<%= data.id_contact %>" method="POST">

          <div class="form-group">
            <label type="text">Nombre</label>
            <input type="text" name="first_name" value="<%= data.first_name %>" placeholder="Ingresa aquí el nombre del contacto" class="form-control rounded" autofocus required>
          </div>

          <div class="form-group">
            <label type="text">Primer apellido</label>
            <input type="text" name="middle_name" value="<%= data.middle_name %>" placeholder="Ingresa aquí el primer apellido" class="form-control rounded" required>
          </div>

          <div class="form-group">
            <label type="text">Segundo apellido</label>
            <input type="text" name="last_name" value="<%= data.last_name %>" placeholder="Ingresa aquí el segundo apellido" class="form-control rounded" required>
          </div>

          <div class="form-group">
            <label type="text">Cargo</label>
            <input type="text" name="position" value="<%= data.position %>" placeholder="Ingresa aquí el cargo del contacto" class="form-control rounded" required>         
              </div>

          <div class="form-group">
            <label type="text">Teléfono</label>
            <input type="text" name="phone_number" value="<%= data.phone_number %>" placeholder="Ingresa aquí el número telefónico" class="form-control rounded" minlength="10" maxlength="10" required>
          </div>

          <div class="form-group">
            <label type="text">Teléfono 2</label>
            <input type="text" name="phone_number2" value="<%= data.phone_number2 %>" placeholder="Ingresa aquí el número telefónico 2 (opcional)" class="form-control rounded" maxlength="10">
          </div>    

          <div class="form-group">
            <label type="text">Correo electrónico</label>
            <input type="email" name="email" value="<%= data.email %>" placeholder="Ingresa aquí el correo electrónico" class="form-control rounded" required>
          </div>

          <div class="form-group">
            <label type="text">Organización a la que pertenece</label>
            <select type="text" name="id_organization" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                   <% if(data.id_organization == data.orgs[i].id_organization){ %>
                     <option value="<%= data.orgs[i].id_organization %>" selected><%= data.orgs[i].org_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.orgs[i].id_organization %>"><%= data.orgs[i].org_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>

          </div>

          <div class="form-group">
            <label type="text">Registra</label>
            <input type="text" name="register" value="<%= data.register %>" class="form-control rounded" readonly> 
           </div>
          
          <button type="submit" class="btn btn-info rounded">
            Actualizar
          </button>
            
          <a href="/contact" class="btn btn-danger rounded">
            Cancelar
          </a>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer'); -%>