<%- include('partials/_header'); -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

<div class="container">

<br />
<!--Modal window trigger button -->
<button type="button" class="btn btn-success margin-left-3 rounded" data-toggle="modal" data-target="#agregar" >Agregar participación</button>
<br /><br />

<!--Insert Modal window-->
<div class="modal fade" role="dialog"  id="agregar">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar participación</h5>
        
      </div>

      <div class="modal-body">
      
        <form action="/invParticipation/add" method="post">
            <div class="form-group">
                <label type="text">Organización</label>
                <select type="text" name="id_organization" placeholder="participante" class="form-control rounded selPic" data-live-search="true" required>
                  <option disabled selected>Selecciona una opción</option>
                  <% console.log(data); %>
                  <% if (data.orgs) { %>
                  <% for(var i=0; i < data.orgs.length; i++){ %>
                    <option value="<%= data.orgs[i].id_organization %>"> <%= data.orgs[i].org_name %></option>
                   <% } %>
                   <% } %>
                </select>
              </div>

              <div class="form-group">
                <label type="text">Programa</label>
                <select type="text" name="id_program" class="form-control rounded selPic" data-live-search="true" required>
                  <option disabled selected>Selecciona una opción</option>
                  <% console.log(data); %>
                  <% if (data.programs) { %>
                  <% for(var i=0; i < data.programs.length; i++){ %>
                    <option value="<%= data.programs[i].id_program %>"> <%= data.programs[i].program_code %></option>
                   <% } %>
                   <% } %>
                </select>
              </div>

              <div class="form-group">
                <label type="text">Asesor</label>
                <select type="text" name="id_consultor" class="form-control rounded selPic" data-live-search="true" required>
                  <option disabled selected>Selecciona una opción</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                   <option value="<%= data.consultor[i].id_consultor %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="check" value="1" onchange="javascript:showContent()">
                  <label class="custom-control-label" for="check">Agregar más asesores</label>
                </div>
              </div>

              <div id="content" style="display: none;">

              <div class="form-group">
                <label type="text">Asesor 2</label>
                <select type="text" name="consultor2" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <label type="text">Asesor 3</label>
                <select type="text" name="consultor3" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

            </div>

            <div class="row">
              <div class="col">
            <div class="form-group">
              <label type="text">Tema</label>
              <select type="text" name="theme"  aria-placeholder="Selecciona una opción" class="form-control rounded" required> 
                <option disabled selected>Selecciona una opción</option>
                <option>Agua, saneamiento e higiene</option>
                <option>Cultura</option>
                <option>Educación</option>
                <option>Emprendimiento social</option>
                <option>Identidad cultural</option>
                <option>Igualdad de género</option>
                <option>Institucionalidad</option>
                <option>Juventudes</option>
                <option>Medio ambiente</option>
                <option>Participación ciudadana</option>
                <option>Proyectos productivos</option>
                <option>Resiliencia</option>
                <option>Salud</option>
                <option>Seguridad alimentaria</option>
                <option>Seguridad vial</option>
                <option>Trabajo digno</option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="form-group"> 
                <label type="text">Año de convocatoria</label>
                <br>
                <input type="text" style="background-color: whitesmoke" class="form_control rounded text-center" name="announcement_year" id="datepicker" width="430" required/>
            <script>
              $('#datepicker').datepicker({
                  uiLibrary: 'bootstrap4',
                  viewMode: "years",
                  format: 'yyyy',
                  minViewMode: "years",
                  width: 430
              });
            </script> 
            </div>
          </div>
        </div>

            <div class="form-group">
              <label type="text">Nombre del proyecto</label>
              <input name="project_name" type="text" placeholder="Ingresa aquí el nombre del proyecto" class="form-control rounded" maxlength="300" required>
            </div>

            <div class="form-group">
              <label type="text">Objetivo del proyecto</label>
              <input name="project_objective" type="text" placeholder="Ingresa aquí el objetivo del proyecto" class="form-control rounded" maxlength="1000" required>
            </div>

            <div class="form-group">
              <label type="text">Tipo de población</label>
              <select id="my-select" name="population_type" title="Nada seleccionado" class="selectpicker form-control rounded" multiple required> 
                <option disabled>Selecciona una o más opciones</option>
                <option>Primera infancia (0-5 años)</option>
                <option>Infancia (6-12 años)</option>
                <option>Adolescencia (13-18 años)</option>
                <option>Juventud (19-29 años)</option>
                <option>Adultez (30-59 años)</option>
                <option>Persona mayor (60 años o más)</option>
                <option>Organizaciones de la Sociedad Civil</option>
              </select> 
            </div>
             
            <div class="row">

              <div class="col">  
              <div class="form-group">
                <label type="text">Beneficiarios</label>
                <input name="male_beneficiaries" type="number" value="0" placeholder="Ingresa aquí el número de beneficiarios del proyecto" class="form-control rounded" required>
              </div>
            </div>
  
             <div class="col">
              <div class="form-group">
                <label type="text">Beneficiarias</label>
                <input name="female_beneficiaries" type="number" value="0" placeholder="Ingresa aquí el número de beneficiarias del proyecto" class="form-control rounded" required>
              </div>
            </div> 
            
        </div>  

        <div class="form-group">
          <label type="text">Instituciones beneficiadas</label>
          <input name="org_beneficiaries" type="number" value="0" placeholder="Ingresa aquí el número de Instituciones beneficiadas del proyecto" class="form-control rounded" required>
        </div>

        <div class="form-group">
          <label for="seeAnotherFieldGroup" type="text">Tipo de proyecto</label>
          <select name="project_type" id="seeAnotherFieldGroup" class="form-control rounded" required>
            <option disabled selected>Selecciona una opción</option>
            <option value="Postulante">Postulante</option>
            <option value="Seleccionado">Seleccionado</option>
          </select> 
        </div>

        

        <div class="form-group" id="otherFieldGroupDiv">
        <div class="row">
          <div class="col">
          <div class="form-group">
            <label for="otherField1" type="text">Fecha de inicio</label>
            <input id="otherField1" name="start_date" id="datepicker" width="415" class="form-control rounded"/>
          <script>
            $('#otherField1').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                width: 415,
            });
          </script>
          </div>
        </div>
          
          <div class="col">
          <div class="form-group">
            <label for="otherField2" type="text">Fecha de término</label>
            <input id="otherField2" name="end_date" id="datepicker2" width="415" class="form-control rounded"/>
          <script>
            $('#otherField2').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                width: 415
            });
          </script>
          </div>
        </div>
        </div>
            
            <div class="form-group">
              <label for="otherField3" type="text">¿De quién son los recursos?</label>
              <select name="resources" id="otherField3" class="form-control rounded">
                <option disabled selected>Selecciona una opción</option>
                <option value="Propios">Propios</option>
                <option value="Aliado Financiero">Aliado Financiero</option>
              </select> 
              </div>
            
            <div class="form-group" id="otherFieldDiv">
              <label for="otherField" type="text">¿Quién fue el aliado financiero?</label>
              <select type="text" name="ally_name" placeholder="Aliado" class="form-control rounded selPic" data-live-search="true" id="otherField">
                <option disabled selected>Selecciona una opción</option>
                <% console.log(data); %>
                <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                  <option value="<%= data.orgs[i].org_name %>"> <%= data.orgs[i].org_name %></option>
                 <% } %>
                 <% } %>
              </select>
            </div> 
            
            <div class="form-group">
              <label for="otherField4" type="text">Logros</label>
              <input id="otherField4" name="achievments" type="text" placeholder="Ingresa aquí los logros del proyecto" maxlength="300" class="form-control rounded">
            </div>


          <div class="row">
            <div class="col">
            <div class="form-group">
              <label for="otherField5" type="text">Estado de incidencia</label>
              <select id="otherField5" name="application_state" title="Nada seleccionado" class="selectpicker form-control rounded" multiple>
                <option disabled>Selecciona una o más opciones</option>
                <option selected>No aplica</option>    
                <option>Aguascalientes</option>
                <option>Baja California</option>
                <option>Baja California Sur</option>
                <option>Campeche</option>
                <option>Chiapas</option>
                <option>Chihuahua</option>
                <option>Ciudad de México</option>
                <option>Coahuila</option>
                <option>Colima</option>
                <option>Durango</option>
                <option>Estado de México</option> 
                <option>Guanajuato</option> 
                <option>Guerrero</option> 
                <option>Hidalgo</option> 
                <option>Jalisco</option> 
                <option>Michoacán</option> 
                <option>Morelos</option> 
                <option>Nayarit</option> 
                <option>Nuevo León</option> 
                <option>Oaxaca</option> 
                <option>Puebla</option> 
                <option>Querétaro</option> 
                <option>Quintana Roo</option> 
                <option>San Luis Potosí</option> 
                <option>Sinaloa</option> 
                <option>Sonora</option> 
                <option>Tabasco</option> 
                <option>Tamaulipas</option> 
                <option>Tlaxcala</option> 
                <option>Veracruz</option> 
                <option>Yucatán</option> 
                <option>Zacatecas</option>   
                <option>Todos los estados</option>
              </select>
            </div>
            </div>

            <div class="col">
            <div class="form-group">
              <label for="otherField6" type="text">Municipio o Alcaldía</label>
              <input id="otherField6" name="municipality" type="text" placeholder="Ingresa aquí el municipio o alcaldía de incidencia del proyecto" maxlength="50" class="form-control rounded">
            </div>
            </div>
            </div>

            <div class="form-group">
              <label for="otherField7" type="text">Donativo otorgado</label> <!--cambiar por donativo otorgado tanto en código como en BD-->
              <input id="otherField7" name="donative" type="number" placeholder="Ingresa aquí el donativo otorgado al proyecto" maxlength="10" class="form-control rounded">
            </div>

            <div class="form-group">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="check2" value="1" onchange="javascript:showContent2()">
                <label class="custom-control-label" for="check2">Agregar más donativos</label>
              </div>
            </div>

            <div id="content2" style="display: none;">

              <div class="form-group">
                <label for="otherField8" type="text">Donativo otorgado 2</label> <!--cambiar por donativo otorgado tanto en código como en BD-->
                <input id="otherField8" name="donative2" type="number" placeholder="Ingresa aquí el donativo otorgado al proyecto" maxlength="10" class="form-control rounded">
              </div>
              
              <div class="form-group">
                <label for="otherField9" type="text">Donativo otorgado 3</label> <!--cambiar por donativo otorgado tanto en código como en BD-->
                <input id="otherField9" name="donative3" type="number" placeholder="Ingresa aquí el donativo otorgado al proyecto" maxlength="10" class="form-control rounded">
              </div>

              </div>

              <div class="form-group">
                <label for="otherField10" type="text">Formato de formación</label>
                <select name="formation_format" id="otherField10" class="form-control rounded">
                  <option disabled selected>Selecciona una opción</option>
                  <option value="Diplomado">Diplomado</option>
                  <option value="Curso">Curso</option>
                  <option value="Taller">Taller</option>
                  <option value="Webinar">Webinar</option>
                  <option>Sin formación</option>
                </select>
              </div>

              
        <div class="form-group" id="otherFieldGroupDiv2">    
          <div class="row">  
              <div class="col">
            <div class="form-group">
              <label for="otherField1" type="text">Tema de formación</label>
              <select name="formation_theme" id="otherField1" class="form-control rounded">
                <option disabled selected>Selecciona una opción</option>
                <option>Modelo de intervención</option>
                <option>Gobernanza</option>
                <option>Movilización de recursos</option>
                <option>Monitoreo y evaluación</option>
                <option>Marco legal y fiscal</option>
                <option>Creación de alianzas</option>
                <option>Gestión del talento humano</option>
                <option>Comunicación y mecadotecnia social</option>
                <option>Liderazgo</option>
                <option>Diplomado</option>
              </select>
              </div>
              </div>

              <div class="col">
              <div class="form-group">
                <label for="otherField2" type="text">No. de sesiones Formación</label>
                <input id="otherField2" name="num_sessions" type="number" value="0" placeholder="Ingresa aquí el número de sesiones de formación" class="form-control rounded">
              </div> 
              </div> 
              </div>  
        </div>
        
        
              <div class="row">
                <div class="col">
              <div class="form-group">
                <label for="otherField11" type="text">Tema <br> de fortalecimento</label>
                <select name="fort_theme" id="otherField11" title="Nada seleccionado" class="form-control rounded selPic" multiple>
                  <option disabled>Selecciona una o más opciones</option>
                  <option selected>No aplica</option> 
                  <option>Alianzas y vinculación</option>
                  <option>Asesoría legal y fiscal</option>
                  <option>Comunicación externa (Marketing social)</option>
                  <option>Comunicación interna</option>
                  <option>Diagnóstico de Madurez Institucional en Línea</option>
                  <option>Diagnóstico de Madurez Institucional Presencial</option>
                  <option>Estructura organizacional y administración</option>
                  <option>Fortalecimiento Equipo Operativo</option>    
                  <option>Modelo de Intervención</option>
                  <option>Monitoreo y Evaluación de proyectos</option>
                  <option>Órgano de Gobierno</option>
                  <option>Planeación estratégica</option>
                  <option>Sostenibilidad financiera</option>
                  <option>Teoría de cambio</option>
                  <option>Sin fortalecimiento</option>
                </select>
              </div>
              </div>
  
              <div class="col">
                <div class="form-group">
                  <label for="otherField12" type="text">No. de sesiones Fortalecimento</label>
                  <input id="otherField12" name="num_sessions_fort" type="number" value="0" placeholder="Ingresa aquí el número de sesiones de fortalecimento" class="form-control rounded">
                </div> 
                </div>
                </div>
            
          </div><!--Cierre de seeAnotherFieldGroup-->

          <div class="form-group">
            <label type="text">Fecha de actualización</label>
            <input name="update_date" id="datepicker3" width="415" value="N/A" class="form-control rounded" required/>
          <script>
            $('#datepicker3').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                width: 415,
            });
          </script>
          </div>
          
            <div class="form-group">
              <label type="text">Comentarios</label>
              <input name="comments" type="text" placeholder="Máximo 1000 caracteres" maxlength="1000" class="form-control rounded"> 
            </div>

            <div class="form-group">
              <label type="text">Registra</label>
              <input type="text" name="register" value="<%= data.email %>" class="form-control rounded" readonly> 
             </div>
            
      </div>
      <div class="modal-footer">
        <button id="btn_submit" type="submit" class="btn btn-info rounded">Guardar</button>
        <button type="button" class="btn btn-danger rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </form>

    </div>
  </div>
</div>
<!--End of insert modal window-->

<!--Body Table-->
  <div class="table-responsive">
      <table id="table" class="table table-sm table-active table-striped table-hover">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Organización</th>
            <th>Programa</th>
            <th>Asesor</th>
            <th>Asesor 2</th>
            <th>Asesor 3</th>
            <th>Tema</th>
            <th>Año de convocatoria</th>
            <th>Nombre del proyecto</th>
            <th>Objetivo del proyecto</th>
            <th>Tipo de población</th>
            <th>Beneficiarios</th>
            <th>Beneficiarias</th>
            <th>Instituciones beneficiadas</th>
            <th>Tipo de proyecto</th>
            <th>Fecha de inicio</th>
            <th>Fecha de término</th>
            <th>¿De quién son los recursos?</th>
            <th>Aliado Financiero</th>
            <th>Logros</th>
            <th>Entidad de incidencia</th>
            <th>Municipio/Alcaldía</th>
            <th>Donativo otorgado</th>
            <th>Donativo otorgado 2</th>
            <th>Donativo otorgado 3</th>
            <th>Formato de formación</th>
            <th>Tema de formación</th>
            <th># de sesiones formación</th>
            <th>Tema de fortalecimento</th>
            <th># de sesiones fortalecimento</th>
            <th>Fecha de actualización</th>
            <th>Comentarios</th>
            <th>Registra</th>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data.data) { %>
            <% for(var i = 0; i < data.data.length; i++) { %>
              <tr class="text-center">
                <td><%= (i + 1) %></td>
                <td><%= data.data[i].org_name %></td>
                <td><%= data.data[i].program_code %></td>
                <td><%= data.data[i].full_name %></td>
                <td><%= data.data[i].consultor2 %></td>
                <td><%= data.data[i].consultor3 %></td>
                <td><%= data.data[i].theme %></td>
                <td><%= data.data[i].announcement_year %></td>
                <td><%= data.data[i].project_name %></td>
                <td><%= data.data[i].project_objective %></td>
                <td><%= data.data[i].population_type %></td>
                <td><%= data.data[i].male_beneficiaries %></td>
                <td><%= data.data[i].female_beneficiaries %></td>
                <td><%= data.data[i].org_beneficiaries %></td>
                <td><%= data.data[i].project_type %></td>
                <td><%= data.data[i].start_date %></td>
                <td><%= data.data[i].end_date %></td>
                <td><%= data.data[i].resources %></td>
                <td><%= data.data[i].ally_name %></td> 
                <td><%= data.data[i].achievments %></td> 
                <td><%= data.data[i].application_state %></td> 
                <td><%= data.data[i].municipality %></td> 
                <td><%= data.data[i].donative %></td> 
                <td><%= data.data[i].donative2 %></td> 
                <td><%= data.data[i].donative3 %></td> 
                <td><%= data.data[i].formation_format %></td>
                <td><%= data.data[i].formation_theme %></td> 
                <td><%= data.data[i].num_sessions %></td> 
                <td><%= data.data[i].fort_theme %></td> 
                <td><%= data.data[i].num_sessions_fort %></td> 
                <td><%= data.data[i].update_date %></td>
                <td><%= data.data[i].comments %></td>
                <td><%= data.data[i].register %></td>
                
                <td>
                  <a href="invParticipation/update/<%= data.data[i].id_partIS %>" class="btn-sm btn-info rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </a>
                <br /> <br /> 
                  <button class="btn-sm btn-danger rounded" data-toggle="modal" data-target="#eliminar<%= data.data[i].id_partIS %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                </td>
            
              </tr>

      <!--Delete modal window-->
 <div class="modal" id="eliminar<%= data.data[i].id_partIS %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar participación</h5>
      </div>
      <div class="modal-body">
        <p>Realmente deseas eliminar esta participación?</p>
      </div>
      <div class="modal-footer">
        <a href="/invParticipation/delete/<%= data.data[i].id_partIS %>" class="btn btn-danger rounded">Eliminar</a>
        <button type="button" class="btn btn-secondary rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!--End of delete modal window-->

            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  
</div> 


<%- include('partials/_footer'); -%>
