<%- include('partials/_header'); -%>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body"></div>
        <h5>Editar participación</h5>

        <form action="/invParticipation/update/<%= data.id_partIS %>" method="POST">
          <div class="form-group">
            <label type="text">Organización</label>
            <select type="text" name="id_organization" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                   <% if(data.id_organization == data.orgs[i].id_organization){ %>
                     <option value="<%= data.orgs[i].id_organization %>" selected><%= data.orgs[i].org_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.orgs[i].id_organization %>"><%= data.orgs[i].org_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>          
          </div>

          <div class="form-group">
            <label type="text">Programa</label>
            <select type="text" name="id_program" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.programs) { %>
                <% for(var i=0; i < data.programs.length; i++){ %>
                   <% if(data.id_program == data.programs[i].id_program){ %>
                     <option value="<%= data.programs[i].id_program %>" selected><%= data.programs[i].program_code %></option>
                 <%  }else{ %>
                   <option value="<%= data.programs[i].id_program %>"><%= data.programs[i].program_code %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>
          </div>

          <div class="form-group">
            <label type="text">Asesor</label>
            <select type="text" name="id_consultor" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.consultor) { %>
                <% for(var i=0; i < data.consultor.length; i++){ %>
                   <% if(data.id_consultor == data.consultor[i].id_consultor){ %>
                     <option value="<%= data.consultor[i].id_consultor %>" selected><%= data.consultor[i].full_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.consultor[i].id_consultor %>"><%= data.consultor[i].full_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>
          </div>

          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="check" value="1" onchange="javascript:showContent()">
              <label class="custom-control-label" for="check">Agregar más asesores</label>
            </div>
          </div>

          <div id="content" style="display: none;">

          <div class="form-group">
            <label type="text">Asesor 2</label>
            <select type="text" name="consultor2" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
              <option>No aplica</option>
              <% if (data.consultor) { %>
              <% for(var i=0; i < data.consultor.length; i++){ %>
                <% if(data.consultor2 == data.consultor[i].full_name){ %>
                  <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
              <%  }else{ %>
                <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                <% } %> 
               <% } %>
               <% } %>
            </select>              
          </div>

          <div class="form-group">
            <label type="text">Asesor 3</label>
            <select type="text" name="consultor3" value="<%= data.consultor3 %>" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
              <option>No aplica</option>
              <% if (data.consultor) { %>
                <% for(var i=0; i < data.consultor.length; i++){ %>
                  <% if(data.consultor3 == data.consultor[i].full_name){ %>
                    <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                <%  }else{ %>
                  <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                  <% } %> 
                 <% } %>
                 <% } %>
            </select>              
          </div>
          </div>

          <div class="row">
            <div class="col">
          <div class="form-group">
            <label type="text">Tema</label>
            <select type="text" name="theme" aria-placeholder="Selecciona una opción" class="form-control rounded" required> 
              <option disabled>Selecciona una opción</option>
              <% const themeVal = ["AGUA, SANEAMIENTO E HIGIENE","CULTURA","EDUCACIÓN","EMPRENDIMIENTO SOCIAL","IDENTIDAD CULTURAL","IGUALDAD DE GÉNERO","INSTITUCIONALIDAD","JUVENTUDES","MEDIO AMBIENTE","PARTICIPACIÓN CIUDADANA","PROYECTOS PRODUCTIVOS","RESILIENCIA","SALUD","SEGURIDAD ALIMENTARIA","SEGURIDAD VIAL","TRABAJO DIGNO"] %>
              
              <% for(var i=0; i < themeVal.length; i++){ %>
                <% if(data.theme == themeVal[i]){ %>
                  <option value="<%= themeVal[i] %>" selected><%= themeVal[i] %></option>
              <%  }else{ %>
                <option value="<%= themeVal[i] %>"><%= themeVal[i] %></option>
                <% } %> 
               <% } %>              
            </select>
          </div>
        </div>

        <div class="col">
          <div class="form-group"> 
              <label type="text">Año de convocatoria</label>
              <br>
              <input type="text" value="<%= data.announcement_year %>" style="background-color: whitesmoke" class="form_control rounded text-center" name="announcement_year" id="datepicker" width="430" required/>
          <script>
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                viewMode: "years",
                format: 'yyyy',
                minViewMode: "years",
                width: 430
            });
          </script> 
          </div>
        </div>
      </div>

      <div class="form-group">
        <label type="text">Nombre del proyecto</label>
        <input name="project_name" value="<%= data.project_name %>" type="text" placeholder="Ingresa aquí el nombre del proyecto" maxlength="300" class="form-control rounded" required>
      </div>

      <div class="form-group">
        <label type="text">Objetivo del proyecto</label>
        <input name="project_objective" value="<%= data.project_objective %>" type="text" placeholder="Ingresa aquí el objetivo del proyecto" maxlength="1000" class="form-control rounded" required>
      </div>

      <div class="form-group">
        <label type="text">Tipo de población</label>
        <select type="text" id="my-select" name="population_type" title="<%= data.population_type %>" class="selectpicker form-control rounded" multiple required> 
          <option disabled>Selecciona una o más opciones</option>
          <option>PRIMERA INFANCIA (0-5 AÑOS)</option>
          <option>INFANCIA (6-12 AÑOS)</option>
          <option>ADOLESCENCIA (13-18 AÑOS)</option>
          <option>JUVENTUD (19-29 AÑOS)</option>
          <option>ADULTEZ (30-59 AÑOS)</option>
          <option>PERSONA MAYOR (60 AÑOS O MÁS)</option>
          <option>ORGANIZACIONES DE LA SOCIEDAD CIVIL</option>
        </select> 
      </div>
        
      <div class="row">

        <div class="col">  
        <div class="form-group">
          <label type="text">Beneficiarios</label>
          <input name="male_beneficiaries" value="<%= data.male_beneficiaries %>" type="number" placeholder="Ingresa aquí el número de beneficiarios del proyecto" class="form-control rounded" required>
        </div>
      </div>

       <div class="col">
        <div class="form-group">
          <label type="text">Beneficiarias</label>
          <input name="female_beneficiaries" value="<%= data.female_beneficiaries %>" type="number" placeholder="Ingresa aquí el número de beneficiarias del proyecto" class="form-control rounded" required>
        </div>
      </div> 
      
  </div>  

  <div class="form-group">
    <label type="text">Instituciones beneficiadas</label>
    <input name="org_beneficiaries" type="number" value="<%= data.org_beneficiaries %>" placeholder="Ingresa aquí el número de Instituciones beneficiadas del proyecto" class="form-control rounded" required>
  </div>

  <div class="form-group">
    <label for="seeAnotherFieldGroup" type="text">Tipo de proyecto</label>
    <select name="project_type" id="seeAnotherFieldGroup" class="form-control rounded" required>
      <option disabled>Selecciona una opción</option>
      <% const typeVal = ["POSTULANTE","SELECCIONADO"] %>
              
      <% for(var i=0; i < typeVal.length; i++){ %>
        <% if(data.project_type == typeVal[i]){ %>
          <option value="<%= typeVal[i] %>" selected><%= typeVal[i] %></option>
      <%  }else{ %>
        <option value="<%= typeVal[i] %>"><%= typeVal[i] %></option>
        <% } %> 
       <% } %>  
    </select> 
  </div>

  <div class="form-group" id="otherFieldGroupDiv">
  <div class="row">
    <div class="col">
    <div class="form-group">
      <label for="otherField1" type="text">Fecha de inicio</label>
      <input id="otherField1" name="start_date" value="<%= data.start_date %>" width="415" class="form-control rounded"/>
    <script>
      $('#otherField1').datepicker({
          uiLibrary: 'bootstrap4',
          format: 'dd/mm/yyyy',
          width: 415,
      });
    </script>
    </div>
  </div>
    
    <div class="col">
    <div class="form-group">
      <label for="otherField2" type="text">Fecha de término</label>
      <input id="otherField2" name="end_date" width="415" value="<%= data.end_date %>" class="form-control rounded"/>
    <script>
      $('#otherField2').datepicker({
          uiLibrary: 'bootstrap4',
          format: 'dd/mm/yyyy',
          width: 415
      });
    </script>
    </div>
  </div>
  </div>
      
      <div class="form-group">
        <label for="otherField3" type="text">¿De quién son los recursos?</label>
        <select name="resources" id="otherField3" class="form-control rounded">
          <option disabled selected>Selecciona una opción</option>
          <% const resourcesVal = ["PROPIOS","ALIADO FINANCIERO"] %>
              
      <% for(var i=0; i < resourcesVal.length; i++){ %>
        <% if(data.resources == resourcesVal[i]){ %>
          <option value="<%= resourcesVal[i] %>" selected><%= resourcesVal[i] %></option>
      <%  }else{ %>
        <option value="<%= resourcesVal[i] %>"><%= resourcesVal[i] %></option>
        <% } %> 
       <% } %>  

        </select> 
        </div>
      
      <div class="form-group" id="otherFieldDiv">
        <label for="otherField" type="text">¿Quién fue el aliado financiero?</label>
        <select type="text" name="ally_name" value="<%= data.ally_name %>" placeholder="Aliado" class="form-control rounded selPic" data-live-search="true" id="otherField">
          <option disabled selected>Selecciona una opción</option>
          <% if (data.orgs) { %>
           <% for(var i=0; i < data.orgs.length; i++){ %>
              <% if(data.ally_name == data.orgs[i].org_name){ %>
                <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
            <%  }else{ %>
              <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
              <% } %> 
             <% } %>
             <% } %>
        </select>
      

        <br>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <br>
            <input type="checkbox" class="custom-control-input" id="check3" value="1" onchange="javascript:showContent3()">
            <label class="custom-control-label" for="check3">Agregar más aliados</label>
          </div>
        </div>

        <div id="content3" style="display: none;">

        <div class="form-group">
          <label type="text">Aliado 2</label>
          <select type="text" name="ally_name2" class="form-control rounded selPic" data-live-search="true">
            <option disabled selected>Selecciona una opción</option>
            <% if (data.orgs) { %>
              <% for(var i=0; i < data.orgs.length; i++){ %>
                 <% if(data.ally_name2 == data.orgs[i].org_name){ %>
                   <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
               <%  }else{ %>
                 <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                 <% } %> 
                <% } %>
                <% } %>
          </select>              
        </div>

        <div class="form-group">
          <label type="text">Aliado 3</label>
          <select type="text" name="ally_name3" class="form-control rounded selPic" data-live-search="true">
            <option disabled selected>Selecciona una opción</option>
            <% if (data.orgs) { %>
              <% for(var i=0; i < data.orgs.length; i++){ %>
                 <% if(data.ally_name3 == data.orgs[i].org_name){ %>
                   <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
               <%  }else{ %>
                 <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                 <% } %> 
                <% } %>
                <% } %>
          </select>                
        </div>

        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="check4" value="1" onchange="javascript:showContent4()">
            <label class="custom-control-label" for="check4">Agregar más aliados</label>
          </div>
        </div>

        <div id="content4" style="display: none;">

        <div class="form-group">
          <label type="text">Aliado 4</label>
          <select type="text" name="ally_name4" class="form-control rounded selPic" data-live-search="true">
            <option disabled selected>Selecciona una opción</option>
            <% if (data.orgs) { %>
              <% for(var i=0; i < data.orgs.length; i++){ %>
                 <% if(data.ally_name4 == data.orgs[i].org_name){ %>
                   <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
               <%  }else{ %>
                 <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                 <% } %> 
                <% } %>
                <% } %>
          </select>                
        </div>

        

        <div class="form-group">
          <label type="text">Aliado 5</label>
          <select type="text" name="ally_name5" class="form-control rounded selPic" data-live-search="true">
            <option disabled selected>Selecciona una opción</option>
            <% if (data.orgs) { %>
              <% for(var i=0; i < data.orgs.length; i++){ %>
                 <% if(data.ally_name5 == data.orgs[i].org_name){ %>
                   <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
               <%  }else{ %>
                 <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                 <% } %> 
                <% } %>
                <% } %>
          </select>           
        </div>

        
        </div> <!--cierre del switch agregar más consultores 2-->
      </div> <!--cierre del switch agregar más consultores 1-->


    </div>
      
      <div class="form-group">
        <label for="otherField4" type="text">Logros</label>
        <input id="otherField4" name="achievments" value="<%= data.achievments %>" type="text" placeholder="Ingresa aquí los logros del proyecto" maxlength="300" class="form-control rounded">
      </div>


    <div class="row">
      <div class="col">
      <div class="form-group">
        <label for="otherField5" type="text">Estado de incidencia</label>
        <select id="otherField5" name="application_state" title="<%= data.application_state %>" class="selectpicker form-control rounded" multiple>
          <option disabled>Selecciona una o más opciones</option> 
          <option selected>NO APLICA</option>   
          <option>AGUASCALIENTES</option>
          <option>BAJA CALIFORNIA</option>
          <option>BAJA CALIFORNIA SUR</option>
          <option>CAMPECHE</option>
          <option>CHIAPAS</option>
          <option>CHIHUAHUA</option>
          <option>CIUDAD DE MÉXICO</option>
          <option>COAHUILA</option>
          <option>COLIMA</option>
          <option>DURANGO</option>
          <option>ESTADO DE MÉXICO</option> 
          <option>GUANAJUATO</option> 
          <option>GUERRERO</option> 
          <option>HIDALGO</option> 
          <option>JALISCO</option> 
          <option>MICHOACÁN</option> 
          <option>MORELOS</option> 
          <option>NAYARIT</option> 
          <option>NUEVO LEÓN</option> 
          <option>OAXACA</option> 
          <option>PUEBLA</option> 
          <option>QUERÉTARO</option> 
          <option>QUINTANA ROO</option> 
          <option>SAN LUIS POTOSÍ</option> 
          <option>SINALOA</option> 
          <option>SONORA</option> 
          <option>TABASCO</option> 
          <option>TAMAULIPAS</option> 
          <option>TLAXCALA</option> 
          <option>VERACRUZ</option> 
          <option>YUCATÁN</option> 
          <option>ZACATECAS</option>   
          <option>TODOS LOS ESTADOS</option>
        </select>
      </div>
      </div>

      <div class="col">
      <div class="form-group">
        <label for="otherField6" type="text">Municipio o Alcaldía</label>
        <input id="otherField6" name="municipality" value="<%= data.municipality %>" type="text" placeholder="Ingresa aquí el municipio o alcaldía de incidencia del proyecto" maxlength="50" class="form-control rounded">
      </div>
      </div>
      </div>

      <div class="form-group">
        <label for="otherField7" type="text">Donativo otorgado</label> 
        <input id="otherField7" name="donative" value="<%= data.donative%>" type="number" placeholder="Ingresa aquí el donativo otorgado al proyecto" maxlength="10" class="form-control rounded">
      </div>

      <div class="form-group">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="check2" value="1" onchange="javascript:showContent2()">
          <label class="custom-control-label" for="check2">Agregar más donativos</label>
        </div>
      </div>

      <div id="content2" style="display: none;">

        <div class="form-group">
          <label for="otherField8" type="text">Donativo otorgado 2</label>
          <input id="otherField8" name="donative2" type="number" value="<%= data.donative2%>" placeholder="Ingresa aquí el donativo otorgado al proyecto" maxlength="10" class="form-control rounded">
        </div>
        
        <div class="form-group">
          <label for="otherField9" type="text">Donativo otorgado 3</label> 
          <input id="otherField9" name="donative3" type="number" value="<%= data.donative3%>" placeholder="Ingresa aquí el donativo otorgado al proyecto" maxlength="10" class="form-control rounded">
        </div>

        </div>


        <div class="form-group">
          <label for="otherField10" type="text">Formato de formación</label>
          <select name="formation_format" id="otherField10" class="form-control rounded">
            <option disabled selected>Selecciona una opción</option>
            <% const FormVal = ["DIPLOMADO","CURSO","TALLER","WEBINAR","SIN FORMACIÓN"] %>
              
            <% for(var i=0; i < FormVal.length; i++){ %>
              <% if(data.formation_format == FormVal[i]){ %>
                <option value="<%= FormVal[i] %>" selected><%= FormVal[i] %></option>
            <%  }else{ %>
              <option value="<%= FormVal[i] %>"><%= FormVal[i] %></option>
              <% } %> 
             <% } %>  

          </select>
        </div>

        
  <div class="form-group" id="otherFieldGroupDiv2"> 

      <div class="form-group">
        <label for="otherField1" type="text">Tema de formación</label>
        <select name="formation_theme" id="otherField1" class="form-control rounded">
          <option disabled selected>Selecciona una opción</option>
          <% const forThVal = ["MODELO DE INTERVENCIÓN","GOBERNANZA","MOVILIZACIÓN DE RECURSOS","MONITOREO Y EVALUACIÓN","MARCO LEGAL Y FISCAL","CREACIÓN DE ALIANZAS","GESTIÓN DEL TALENTO HUMANO","COMUNICACIÓN Y MECADOTECNIA SOCIAL","LIDERAZGO","DIPLOMADO"] %>
              
          <% for(var i=0; i < forThVal.length; i++){ %>
            <% if(data.formation_theme == forThVal[i]){ %>
              <option value="<%= forThVal[i] %>" selected><%= forThVal[i] %></option>
          <%  }else{ %>
            <option value="<%= forThVal[i] %>"><%= forThVal[i] %></option>
            <% } %> 
           <% } %>  
        </select>
        </div>
      </div>

        
       

      <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="otherField11" type="text">Tema <br> de fortalecimento</label>
          <select name="fort_theme" title="<%= data.fort_theme %>" title="Nada seleccionado" id="otherField11" class="form-control rounded selPic" multiple>
            <option disabled>Selecciona una o más opciones</option> 
            <option selected>NO APLICA</option>            
            <option>ALIANZAS Y VINCULACIÓN</option>
            <option>ASESORÍA LEGAL Y FISCAL</option>
            <option>COMUNICACIÓN EXTERNA (MARKETING SOCIAL)</option>
            <option>COMUNICACIÓN INTERNA</option>
            <option>DIAGNÓSTICO DE MADUREZ INSTITUCIONAL EN LÍNEA</option>
            <option>DIAGNÓSTICO DE MADUREZ INSTITUCIONAL PRESENCIAL</option>
            <option>ESTRUCTURA ORGANIZACIONAL Y ADMINISTRACIÓN</option>
            <option>FORTALECIMIENTO EQUIPO OPERATIVO</option>    
            <option>MODELO DE INTERVENCIÓN</option>
            <option>MONITOREO Y EVALUACIÓN DE PROYECTOS</option>
            <option>ÓRGANO DE GOBIERNO</option>
            <option>PLANEACIÓN ESTRATÉGICA</option>
            <option>SOSTENIBILIDAD FINANCIERA</option>
            <option>TEORÍA DE CAMBIO</option>
            <option>SIN FORTALECIMIENTO</option>
          </select>
        </div>
      </div>

       <div class="col">
          <div class="form-group">
            <label for="otherField12" type="text">No. de sesiones Fortalecimento</label>
            <input id="otherField12" name="num_sessions_fort" value="<%= data.num_sessions_fort %>" type="number" placeholder="Ingresa aquí el número de sesiones de fortalecimento" class="form-control rounded">
          </div> 
        </div>
      </div>

    </div><!--Cierre de seeAnotherFieldGroup-->

        <div class="form-group">
          <label type="text">Fecha de actualización</label>
          <input name="update_date" id="datepicker3" width="415" value="<%= data.update_date %>" class="form-control rounded" required/>
        <script>
          $('#datepicker3').datepicker({
              uiLibrary: 'bootstrap4',
              format: 'dd/mm/yyyy',
              width: 415,
          });
        </script>
        </div>
    
        <div class="form-group">
          <label type="text">Comentarios</label>
          <input name="comments" type="text" value="<%= data.comments %>" placeholder="Máximo 1000 caracteres" maxlength="1000" class="form-control rounded"> 
        </div>

        <div class="form-group">
          <label type="text">Registra</label>
          <input type="text" name="register" value="<%= data.register %>" class="form-control rounded" readonly> 
         </div>

        <div class="container">
          <button type="submit" class="btn btn-info rounded">
            Actualizar
          </button>
            
          <a href="/invParticipation" class="btn btn-danger rounded">
            Cancelar
          </a>
        </div>
        
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer'); -%>
