<%- include('partials/_header'); -%>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

<div class="container">

<br />
<!--Modal window trigger button -->
<button type="button" class="btn btn-success margin-left-3 rounded" data-toggle="modal" data-target="#agregar" >Agregar participación</button>
<br /><br />

<!--Insert Modal window-->
<div class="modal fade" role="dialog"  id="agregar">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar participación</h5>
        
      </div>

      <div class="modal-body">
      
        <form action="/invParticipation/add" method="post">
            <div class="form-group">
                <label type="text">Organización</label>
                <select type="text" name="id_organization" placeholder="participante" class="form-control rounded" required>
                  <option disabled selected>Selecciona una opción</option>
                  <% console.log(data); %>
                  <% if (data.orgs) { %>
                  <% for(var i=0; i < data.orgs.length; i++){ %>
                    <option value="<%= data.orgs[i].id_organization %>"> <%= data.orgs[i].org_name %></option>
                   <% } %>
                   <% } %>
                </select>
              </div>

              <div class="form-group">
                <label type="text">Programa</label>
                <select type="text" name="id_program" class="form-control rounded" required>
                  <option disabled selected>Selecciona una opción</option>
                  <% console.log(data); %>
                  <% if (data.programs) { %>
                  <% for(var i=0; i < data.programs.length; i++){ %>
                    <option value="<%= data.programs[i].id_program %>"> <%= data.programs[i].program_name %></option>
                   <% } %>
                   <% } %>
                </select>
              </div>

              <div class="form-group">
                <label type="text">Consultor</label>
                <select type="text" name="id_consultor" class="form-control rounded" required>
                  <option disabled selected>Selecciona una opción</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                   <option value="<%= data.consultor[i].id_consultor %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="check" value="1" onchange="javascript:showContent()">
                  <label class="custom-control-label" for="check">Agregar más consultores</label>
                </div>
              </div>

              <div id="content" style="display: none;">

              <div class="form-group">
                <label type="text">Consultor 2</label>
                <select type="text" name="consultor2" placeholder="consultor" class="form-control rounded">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <label type="text">Consultor 3</label>
                <select type="text" name="consultor3" placeholder="consultor" class="form-control rounded">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <label type="text">Consultor 4</label>
                <select type="text" name="consultor4" placeholder="consultor" class="form-control rounded">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <label type="text">Consultor 5</label>
                <select type="text" name="consultor5" placeholder="consultor" class="form-control rounded">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <label type="text">Consultor 6</label>
                <select type="text" name="consultor6" placeholder="consultor" class="form-control rounded">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <label type="text">Consultor 7</label>
                <select type="text" name="consultor7" placeholder="consultor" class="form-control rounded">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

              <div class="form-group">
                <label type="text">Consultor 8</label>
                <select type="text" name="consultor8" placeholder="consultor" class="form-control rounded">
                  <option>No aplica</option>
                  <% console.log(data); %>
                  <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <option value="<%= data.consultor[i].full_name %>"> <%= data.consultor[i].full_name %></option>
                   <% } %>
                   <% } %>
                </select>              
              </div>

            </div>

            <div class="form-group"> 
                <label type="text">Año</label>
                <br>
                <input type="text" style="background-color: whitesmoke" class="form_control rounded text-center" name="year" id="datepicker" width="430" required/>
            <script>
              $('#datepicker').datepicker({
                  uiLibrary: 'bootstrap4',
                  viewMode: "years",
                  format: 'yyyy',
                  minViewMode: "years",
                  width: 430
              });
            </script> 
            </div>

            <div class="form-group">
              <label type="text">Tema</label>
              <select type="text" name="theme"  aria-placeholder="Selecciona una opción" class="form-control rounded" required> 
                <option disabled selected>Selecciona una opción</option>
                <option>No aplica</option>
                <option>Alianzas y vinculación</option>
                <option>Asesoría legal y fiscal</option>
                <option>Comunicación externa (Marketing social)</option>
                <option>Comunicación interna</option>
                <option>Diagnóstico de Madurez Institucional en Línea</option>
                <option>Diagnóstico de Madurez Institucional Presencial</option>
                <option>Estructura organizacional y administración</option>
                <option>Fortalecimiento Equipo Operativo</option>    
                <option>Modelo de Intervención</option>
                <option>Monitoreo y Evaluación de proyectos</option>
                <option>Órgano de Gobierno</option>
                <option>Planeación estratégica</option>
                <option>Sostenibilidad financiera</option>
                <option>Teoría de cambio</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="seeAnotherField" type="text">Recursos</label>
              <select name="resources" id="seeAnotherField" class="form-control rounded" required>
                <option disabled selected>Selecciona una opción</option>
                <option value="Propios">Propios</option>
                <option value="Aliado Financiero">Aliado Financiero</option>
              </select> 
            </div>
            
            <div class="form-group" id="otherFieldDiv">
              <label for="otherField" type="text">¿Quién fue el aliado financiero?</label>
              <select type="text" name="ally_name" placeholder="Aliado" class="form-control rounded" id="otherField">
                <option>No aplica</option>
                <% console.log(data); %>
                <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                  <option value="<%= data.orgs[i].org_name %>"> <%= data.orgs[i].org_name %></option>
                 <% } %>
                 <% } %>
              </select>
            </div>  

            <div class="form-group">
              <label type="text">Comentarios</label>
              <input name="comments" type="text" placeholder="Máximo 300 caracteres" maxlength="300" class="form-control rounded"> 
            </div>
            
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info rounded">Guardar</button>
        <button type="button" class="btn btn-danger rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </form>

    </div>
  </div>
</div>
<!--End of insert modal window-->

<!--Body Table-->
  <div class="table-responsive">
      <table id="table" class="table table-sm table-active table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Organización</th>
            <th>Programa</th>
            <th>Consultor</th>
            <th>Consultor 2</th>
            <th>Consultor 3</th>
            <th>Consultor 4</th>
            <th>Consultor 5</th>
            <th>Consultor 6</th>
            <th>Consultor 7</th>
            <th>Consultor 8</th>
            <th>Año</th>
            <th>Tema</th>
            <th>Recursos</th>
            <th>Aliado Financiero</th>
            <th>Comentarios</th>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data.data) { %>
            <% for(var i = 0; i < data.data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data.data[i].org_name %></td>
                <td><%= data.data[i].program_name %></td>
                <td><%= data.data[i].full_name %></td>
                <td><%= data.data[i].consultor2 %></td>
                <td><%= data.data[i].consultor3 %></td>
                <td><%= data.data[i].consultor4 %></td>
                <td><%= data.data[i].consultor5 %></td>
                <td><%= data.data[i].consultor6 %></td>
                <td><%= data.data[i].consultor7 %></td>
                <td><%= data.data[i].consultor8 %></td>
                <td><%= data.data[i].year %></td>
                <td><%= data.data[i].theme %></td>
                <td><%= data.data[i].resources %></td>
                <td><%= data.data[i].ally_name %></td> <!--proveedor de recursos-->
                <td><%= data.data[i].comments %></td>
                
                <td>
                  <a href="invParticipation/update/<%= data.data[i].id_part %>" class="btn-sm btn-info rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </a>
                <br /> <br /> 
                  <!--<button class="btn-sm btn-danger rounded" data-toggle="modal" data-target="#eliminar<%= data.data[i].id_part %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>-->
                </td>
            
              </tr>

      <!--Delete modal window
 <div class="modal" id="eliminar<%= data.data[i].id_part %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar participación</h5>
      </div>
      <div class="modal-body">
        <p>Realmente deseas eliminar esta participación?</p>
      </div>
      <div class="modal-footer">
        <a href="/invParticipation/delete/<%= data.data[i].id_part %>" class="btn btn-danger rounded">Eliminar</a>
        <button type="button" class="btn btn-secondary rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
End of delete modal window-->

            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  
</div> 

<script>
  $("#seeAnotherField").change(function () {
  if ($(this).val() == "Aliado Financiero") {
    $("#otherFieldDiv").show();
    $("#otherField").attr("required", "");
    $("#otherField").attr("data-error", "This field is required.");
  } else {
    $("#otherFieldDiv").hide();
    $("#otherField").removeAttr("required");
    $("#otherField").removeAttr("data-error");
  }
});
$("#seeAnotherField").trigger("change");

function showContent() {
  element = document.getElementById("content");
  check = document.getElementById("check");
  if (check.checked) {
    element.style.display = "block";
  } else {
    element.style.display = "none";
  }
}

</script>

<%- include('partials/_footer'); -%>
