<%- include('partials/_header'); -%>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card">
        <div class="card-body">
          <h5>Editar Organización</h5>
  
          <form action="/organization/update/<%= data.id_organization %>" method="POST">
            <div class="form-group">
              <label type="text">Organización</label>
              <input type="text" name="org_name" value="<%= data.org_name %>" placeholder="Ingresa aquí el nombre de la Organización" class="form-control rounded" autofocus required>
            </div>
            <div class="form-group">
              <label type="text">Área de intervención</label>
              <select name="intervention_area" value="<%= data.intervention_area %>" class="form-control rounded" required>
                <option disabled selected>Selecciona una opción</option>
                <option>Acción por el clima</option>
                <option>Agua limpia y saneamiento</option>
                <option>Alianzas para lograr los objetivos</option>
                <option>Ciudades y comunidades sostenibles</option>
                <option>Educación de calidad</option>
                <option>Energía asequible y no contaminante</option>
                <option>Fin de la pobreza</option>
                <option>Hambre cero</option>
                <option>Igualdad de género</option>
                <option>Industria, innovación e infraestructura</option>
                <option>Paz, justicia e instituciones sólidas</option>
                <option>Producción y consumo responsables</option>
                <option>Reducción de las desigualdades</option>
                <option>Salud y bienestar</option>
                <option>Trabajo decente y crecimiento económico</option>
                <option>Vida de ecosistemas terrestres</option>
                <option>Vida submarina</option>
              </select>  
            </div>
            <div class="form-group">
                <label type="text">RFC</label>
                <input type="text" name="rfc" value="<%= data.rfc %>" placeholder="Ingresa aquí el RFC de la organización" class="form-control rounded" required>
              </div>
            
              <div class="form-group">
                <label type="text">Entidad Federativa</label>
                <select name="state" value="<%=data.state %>" class="form-control rounded" required>
                      <option disabled selected>Selecciona una opción</option>
                      <option>Aguascalientes</option>
                      <option>Baja California</option>
                      <option>Baja California Sur</option>
                      <option>Campeche</option>
                      <option>Chiapas</option>
                      <option>Chihuahua</option>
                      <option>Ciudad de México</option>
                      <option>Coahuila</option>
                      <option>Colima</option>
                      <option>Durango</option>
                      <option>Estado de México</option> 
                      <option>Guanajuato</option> 
                      <option>Guerrero</option> 
                      <option>Hidalgo</option> 
                      <option>Jalisco</option> 
                      <option>Michoacán</option> 
                      <option>Morelos</option> 
                      <option>Nayarit</option> 
                      <option>Nuevo León</option> 
                      <option>Oaxaca</option> 
                      <option>Puebla</option> 
                      <option>Querétaro</option> 
                      <option>Quintana Roo</option> 
                      <option>San Luis Potosí</option> 
                      <option>Sinaloa</option> 
                      <option>Sonora</option> 
                      <option>Tabasco</option> 
                      <option>Tamaulipas</option> 
                      <option>Tlaxcala</option> 
                      <option>Veracruz</option> 
                      <option>Yucatán</option> 
                      <option>Zacatecas</option>   
                </select>
              </div>    

            <div class="form-group">
                <label type="text">¿Se encuentra en lista negra?</label>
                <select name="blacklist" value="<%= data.blacklist %>" class="form-control rounded" required>
                  <option disabled selected>Selecciona una opción</option>
                  <option>No</option>
                  <option>Sí</option>
                </select>
            </div>

            <div class="form-group">
              <label type="text">Tipo de organización</label>
              <select name="org_type" value="<%= data.org_type %>" class="form-control rounded" required>
                <option disabled selected>Selecciona una opción</option>
                <option>Donataria</option>
                <option>Aliado Financiero</option>
              </select>
          </div>
  
            <button type="submit" class="btn btn-info rounded">
              Actualizar
            </button>
              
            <a href="/organization" class="btn btn-danger rounded">
              Cancelar
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/_footer'); -%>