<%- include('partials/_header'); -%>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card">
        <div class="card-body">
          <h5>Editar Organización</h5>
  
          <form action="/organization/update/<%= data.id_organization %>" method="POST">
            <div class="form-group">
              <label type="text">Razón social</label>
              <input type="text" name="org_name" value="<%= data.org_name %>" placeholder="Ingresa aquí el nombre de la Organización" maxlength="150" class="form-control rounded" autofocus required>
            </div>

            <div class="form-group">
              <label for="areaIntervencion" type="text">Área de intervención prioritaria</label>
              <select name="intervention_area" id="areaIntervencion" class="form-control rounded" required>
                <option disabled>Selecciona una opción</option>
                <% const interVal = ["Asistencia social","Derechos humanos","Desarrollo comunitario","Desarrollo social","Educación","Medio Ambiente","Agua","saneamiento e higiene","Salud","Seguridad Vial","Otra"] %>
              
                <% for(var i=0; i < interVal.length; i++){ %>
                  <% if(data.intervention_area == interVal[i]){ %>
                    <option value="<%= interVal[i] %>" selected><%= interVal[i] %></option>
                <%  }else{ %>
                  <option value="<%= interVal[i] %>"><%= interVal[i] %></option>
                  <% } %> 
                 <% } %> 
              </select>  
            </div>

            <div class="form-group" id="otherFieldDiv">
              <label for="otherField" type="text">En caso de elegir otra, especifique</label>
              <input type="text" name="other" id="otherField" value="<%= data.other %>" class="form-control rounded">
            </div>  

            <div class="form-group">
                <label type="text">RFC</label>
                <input type="text" name="rfc" value="<%= data.rfc %>" placeholder="Ingresa aquí el RFC de la organización" class="form-control rounded" required>
              </div>
            
              <div class="form-group">
                <label type="text">Entidad Federativa</label>
                <select name="state" value="<%=data.state %>" class="form-control rounded" required>
                      <option disabled>Selecciona una opción</option>
                      <% const edoVal = ["Aguascalientes","Baja California","Baja California Sur","Campeche","Chiapas","Chihuahua","Ciudad de México","Coahuila","Colima","Durango","Estado de México","Guanajuato","Guerrero","Hidalgo","Jalisco","Michoacán","Morelos","Nayarit","Nuevo León","Oaxaca","Puebla","Querétaro","Quintana Roo","San Luis Potosí","Sinaloa","Sonora","Tabasco","Tamaulipas","Tlaxcala","Veracruz","Yucatán","Zacatecas","Internacional"] %>
              
                      <% for(var i=0; i < edoVal.length; i++){ %>
                        <% if(data.state == edoVal[i]){ %>
                          <option value="<%= edoVal[i] %>" selected><%= edoVal[i] %></option>
                      <%  }else{ %>
                        <option value="<%= edoVal[i] %>"><%= edoVal[i] %></option>
                        <% } %> 
                        <% } %>  
                </select>
              </div>   
              
              <div class="form-group">
                <label type="text">Municipio  o Alcaldía</label>
                <input type="text" name="municipality" value="<%= data.municipality %>" placeholder="Ingresa aquí el municipio  o alcaldía de la organización" class="form-control rounded" required>
              </div>  

            <div class="form-group">
                <label type="text">¿Se encuentra en lista negra?</label>
                <select name="blacklist" value="<%= data.blacklist %>" class="form-control rounded" required>
                  <option disabled>Selecciona una opción</option>
                  <% const blackVal = ["No","Sí"] %>
              
                    <% for(var i=0; i < blackVal.length; i++){ %>
                      <% if(data.blacklist == blackVal[i]){ %>
                        <option value="<%= blackVal[i] %>" selected><%= blackVal[i] %></option>
                    <%  }else{ %>
                      <option value="<%= blackVal[i] %>"><%= blackVal[i] %></option>
                      <% } %> 
                      <% } %> 
                </select>
            </div>

            <div class="form-group">
              <label type="text">Dirección</label>
              <input type="text" name="address" value="<%= data.address %>" placeholder="Calle, Número exterior, Número interior" class="form-control rounded" required> 
            </div>

            <div class="form-group">
              <label type="text">Código postal</label> 
              <input type="text" name="postal_code" value="<%= data.postal_code %>" placeholder="Ingresa aquí el código postal" class="form-control rounded" required> 
            </div>

            <div class="form-group">
              <label type="text">Sitio web</label>
              <input type="text" name="website" value="<%= data.website %>" placeholder="Ingresa aquí el sitio web de la organización (opcional)" class="form-control rounded"> 
             </div>

             <div class="form-group">
              <label type="text"></label>
              <input type="text" name="register" value="<%= data.register %>" class="form-control rounded" readonly> 
             </div>
  
            <button type="submit" class="btn btn-info rounded">
              Actualizar
            </button>
              
            <a href="/organization" class="btn btn-danger rounded">
              Cancelar
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/_footer'); -%>