<%- include('partials/_header'); -%>

<div class="container">
    <br />
    <!--Modal window trigger button -->
  <div class="row">
    <div class="col">
    <button type="button" class="btn btn-info margin-left-3 rounded" data-toggle="modal" data-target="#agregar" >
        Agregar Organización
    </button>
    </div>

    <div class="col text-right">
      <button type="button" class="btn btn-success margin-left-3 rounded exportExcelOrg" style="background-color: darkgreen; border-color: darkgreen;">
        <img src="/img/spreadsheet.png" width="15px"/>
      Exportar a Excel
      </button>
    </div>

  </div>

    <br /><br />
    <!--Insert Modal window-->
    <div class="modal fade" role="dialog"  id="agregar">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Organización</h5>
            
          </div>
    
          <div class="modal-body">
          
            <form action="/organization/add" method="post">
                
              <div class="form-group">
                  <label type="text">Razón social</label>
                  <input type="text" name="org_name" placeholder="Ingresa aquí el nombre de la Organización" maxlength="150" class="form-control rounded" autofocus required>
                </div>

                <div class="form-group">
                  <label for="areaIntervencion" type="text">Área de intervención prioritaria</label>
                  <select name="intervention_area" id="areaIntervencion" class="form-control rounded" required>
                        <option disabled selected>Selecciona una opción</option>
                        <option value="ASISTENCIA SOCIAL">ASISTENCIA SOCIAL</option>
                        <option value="DERECHOS HUMANOS">DERECHOS HUMANOS</option>
                        <option value="DESARROLLO COMUNITARIO">DESARROLLO COMUNITARIO</option>
                        <option value="DESARROLLO SOCIAL">DESARROLLO SOCIAL</option>
                        <option value="EDUCACIÓN">EDUCACIÓN</option>
                        <option value="MEDIO AMBIENTE">MEDIO AMBIENTE</option>
                        <option value="AGUA, SANEAMIENTO E HIGIENE">AGUA, SANEAMIENTO E HIGIENE</option>
                        <option value="SALUD">SALUD</option>
                        <option value="SEGURIDAD VIAL">SEGURIDAD VIAL</option>
                        <option value="OTRA">OTRA</option>
                  </select>  
                </div>
    
                <div class="form-group" id="otherFieldDiv">
                  <label for="otherField" type="text">En caso de elegir otra, especifique</label>
                  <input type="text" name="other" id="otherField" class="form-control rounded">
                </div>  

                <div class="form-group">
                  <label type="text">RFC</label>
                  <input type="text" name="rfc" placeholder="Ingresa aquí el RFC de la organización" class="form-control rounded" minlength="12" maxlength="13" required>
                </div>

                <div class="form-group">
                  <label type="text">Entidad Federativa</label>
                  <select name="state" class="form-control rounded" required>
                        <option disabled selected>Selecciona una opción</option>    
                        <option>AGUASCALIENTES</option>
                        <option>BAJA CALIFORNIA</option>
                        <option>BAJA CALIFORNIA SUR</option>
                        <option>CAMPECHE</option>
                        <option>CHIAPAS</option>
                        <option>CHIHUAHUA</option>
                        <option>CIUDAD DE MÉXICO</option>
                        <option>COAHUILA</option>
                        <option>COLIMA</option>
                        <option>DURANGO</option>
                        <option>ESTADO DE MÉXICO</option> 
                        <option>GUANAJUATO</option> 
                        <option>GUERRERO</option> 
                        <option>HIDALGO</option> 
                        <option>JALISCO</option> 
                        <option>MICHOACÁN</option> 
                        <option>MORELOS</option> 
                        <option>NAYARIT</option> 
                        <option>NUEVO LEÓN</option> 
                        <option>OAXACA</option> 
                        <option>PUEBLA</option> 
                        <option>QUERÉTARO</option> 
                        <option>QUINTANA ROO</option> 
                        <option>SAN LUIS POTOSÍ</option> 
                        <option>SINALOA</option> 
                        <option>SONORA</option> 
                        <option>TABASCO</option> 
                        <option>TAMAULIPAS</option> 
                        <option>TLAXCALA</option> 
                        <option>VERACRUZ</option> 
                        <option>YUCATÁN</option> 
                        <option>ZACATECAS</option>   
                        <option>INTERNACIONAL</option>
                  </select>
                </div>
                
                 <div class="form-group">
                   <label type="text">Municipio o Alcaldía</label>
                   <input type="text" name="municipality" placeholder="Ingresa aquí el municipio o alcaldía de la organización" class="form-control rounded" required>
                 </div>   

                 <div class="form-group">
                      <label type="text">¿Se encuentra en lista negra?</label>
                      <select name="blacklist" class="form-control rounded" required>
                        <option disabled selected>Selecciona una opción</option>
                        <option>NO</option>
                        <option>SÍ</option>
                    </select>
                 </div>

                 <div class="form-group">
                  <label type="text">Dirección</label>
                  <input type="text" name="address" placeholder="Calle, Número exterior, Número interior" class="form-control rounded" required> 
                 </div>

                 <div class="form-group">
                  <label type="text">Código postal</label>
                  <input type="text" name="postal_code" placeholder="Ingresa aquí el código postal" class="form-control rounded" maxlength="5" required> 
                 </div>

                 <div class="form-group">
                  <label type="text">Sitio web</label>
                  <input type="text" name="website" placeholder="Ingresa aquí el sitio web de la organización (opcional)" class="form-control rounded"> 
                 </div>

                 <div class="form-group">
                  <label type="text">Registra</label>
                  <input type="text" name="register" value="<%= email %>" class="form-control rounded" readonly> 
                 </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-info rounded">Guardar</button>
            <button type="button" class="btn btn-danger rounded" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
    
        </div>
      </div>
    </div>
    </div>

  </div>    
    <!--End of insert modal window-->
    
    <!--Body Table-->
   <div class="table-responsive"> 
          <table id="table" class="table table-active table-striped table-hover tableOrg">
            <thead>
              <tr class="text-center">
                <th>#</th>
                <th>Organización</th>
                <th>Área de intervención <br> prioritaria</th>
                <th>En caso de otra,<br> especifique</th>
                <th>RFC</th>
                <th>Entidad Federativa</th>
                <th>Municipio</th>
                <th>¿Lista negra?</th>
                <th width="600px">Dirección</th>
                <th>Código postal</th>
                <th>Sitio web</th>
                <th>Registra</th>
                <td>Acciones</td>
              </tr>
            </thead>
            <tbody>
              <% if (data) { %>
                <% for(var i = 0; i < data.length; i++) { %>
                  <tr class="text-center">
                    <td><%= (i + 1) %></td>
                    <td><%= data[i].org_name %></td>
                    <td><%= data[i].intervention_area %></td>
                    <td><%= data[i].other %></td>
                    <td><%= data[i].rfc %></td>
                    <td><%= data[i].state %></td>
                    <td><%= data[i].municipality %></td>
                    <td><%= data[i].blacklist %></td>
                    <td width="600px"><%= data[i].address %></td>
                    <td><%= data[i].postal_code %></td>
                    <td><%= data[i].website %></td>
                    <td><%= data[i].register %></td>
                    
                    <td>
                      <br>
                      <a href="organization/update/<%= data[i].id_organization %>" class="btn-sm btn-info rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                      </a>
                    <br /> <br /> 
                     <button class="btn-sm btn-danger rounded" data-toggle="modal" data-target="#eliminar<%= data[i].id_organization %>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </button>
                    </td>
                
                  </tr>
    
          <!--Delete modal window-->
     <div class="modal" id="eliminar<%= data[i].id_organization %>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar Organización</h5>
          </div>
          <div class="modal-body">
            <p>¿Realmente deseas eliminar esta organización?</p>
          </div>
          <div class="modal-footer">
            <a href="organization/delete/<%= data[i].id_organization %>" class="btn btn-danger rounded">Eliminar</a>
            <button type="button" class="btn btn-secondary rounded" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!--End of delete modal window-->
    
                <% } %>
              <% } %>
            </tbody>
          </table>
     
        </div>
     
    

<%- include('partials/_footer'); -%>