<%- include('partials/_header'); -%>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body"></div>
        <h5>Editar participación</h5>

        <form action="/participation/update/<%= data.id_part %>" method="POST">
          <div class="form-group">
            <label type="text">Organización</label>
            <select type="text" name="id_organization" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                   <% if(data.id_organization == data.orgs[i].id_organization){ %>
                     <option value="<%= data.orgs[i].id_organization %>" selected><%= data.orgs[i].org_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.orgs[i].id_organization %>"><%= data.orgs[i].org_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>

          </div>
          <div class="form-group">
            <label type="text">Programa</label>
            <select type="text" name="id_program" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.programs) { %>
                <% for(var i=0; i < data.programs.length; i++){ %>
                   <% if(data.id_program == data.programs[i].id_program){ %>
                     <option value="<%= data.programs[i].id_program %>" selected><%= data.programs[i].program_code %></option>
                 <%  }else{ %>
                   <option value="<%= data.programs[i].id_program %>"><%= data.programs[i].program_code %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>
          </div>

          <div class="form-group">
            <label type="text">Consultor</label>            
            <select type="text" name="id_consultor" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.consultor) { %>
                <% for(var i=0; i < data.consultor.length; i++){ %>
                   <% if(data.id_consultor == data.consultor[i].id_consultor){ %>
                     <option value="<%= data.consultor[i].id_consultor %>" selected><%= data.consultor[i].full_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.consultor[i].id_consultor %>"><%= data.consultor[i].full_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>
            
          </div>

          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="check" value="1" onchange="javascript:showContent()">
              <label class="custom-control-label" for="check">Agregar más consultores</label>
            </div>
          </div>

          <div id="content" style="display: none;">

            <div class="form-group">
              <label type="text">Consultor 2</label>
              <select type="text" name="consultor2" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
                <option>No aplica</option>
                <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <% if(data.consultor2 == data.consultor[i].full_name){ %>
                      <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                  <%  }else{ %>
                    <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                    <% } %> 
                   <% } %>
                   <% } %>
              </select>              
            </div>
  
            <div class="form-group">
              <label type="text">Consultor 3</label>
              <select type="text" name="consultor3" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
                <option>No aplica</option>
                <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <% if(data.consultor3 == data.consultor[i].full_name){ %>
                      <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                  <%  }else{ %>
                    <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                    <% } %> 
                   <% } %>
                   <% } %>
              </select>              
            </div>
  
            <div class="form-group">
              <label type="text">Consultor 4</label>
              <select type="text" name="consultor4" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
                <option>No aplica</option>
                <% if (data.consultor) { %>
                  <% for(var i=0; i < data.consultor.length; i++){ %>
                    <% if(data.consultor4 == data.consultor[i].full_name){ %>
                      <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                  <%  }else{ %>
                    <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                    <% } %> 
                   <% } %>
                   <% } %>
              </select>              
            </div>
  
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="check2" value="1" onchange="javascript:showContent2()">
              <label class="custom-control-label" for="check2">Agregar más consultores</label>
            </div>
          </div>

          <div id="content2" style="display: none;">

          <div class="form-group">
            <label type="text">Consultor 5</label>
            <select type="text" name="consultor5" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
              <option>No aplica</option>
              <% if (data.consultor) { %>
                <% for(var i=0; i < data.consultor.length; i++){ %>
                  <% if(data.consultor5 == data.consultor[i].full_name){ %>
                    <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                <%  }else{ %>
                  <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                  <% } %> 
                 <% } %>
                 <% } %>
            </select>              
          </div>

          <div class="form-group">
            <label type="text">Consultor 6</label>
            <select type="text" name="consultor6" placeholder="consultor" class="form-control roundedselPic" data-live-search="true">
              <option>No aplica</option>
              <% if (data.consultor) { %>
                <% for(var i=0; i < data.consultor.length; i++){ %>
                  <% if(data.consultor6 == data.consultor[i].full_name){ %>
                    <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                <%  }else{ %>
                  <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                  <% } %> 
                 <% } %>
                 <% } %>
            </select>              
          </div>

          <div class="form-group">
            <label type="text">Consultor 7</label>
            <select type="text" name="consultor7" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
              <option>No aplica</option>
              <% if (data.consultor) { %>
                <% for(var i=0; i < data.consultor.length; i++){ %>
                  <% if(data.consultor7 == data.consultor[i].full_name){ %>
                    <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                <%  }else{ %>
                  <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                  <% } %> 
                 <% } %>
                 <% } %>
            </select>              
          </div>

          <div class="form-group">
            <label type="text">Consultor 8</label>
            <select type="text" name="consultor8" placeholder="consultor" class="form-control rounded selPic" data-live-search="true">
              <option>No aplica</option>
              <% if (data.consultor) { %>
                <% for(var i=0; i < data.consultor.length; i++){ %>
                  <% if(data.consultor8 == data.consultor[i].full_name){ %>
                    <option value="<%= data.consultor[i].full_name %>" selected><%= data.consultor[i].full_name %></option>
                <%  }else{ %>
                  <option value="<%= data.consultor[i].full_name %>"><%= data.consultor[i].full_name %></option>
                  <% } %> 
                 <% } %>
                 <% } %>
            </select>              
          </div>
          </div>
        </div>

        <div class="form-group">
          <label for="tema" type="text">Tema</label>
          <select id="tema" type="text" name="theme" value="<%= data.theme %>" class="form-control rounded" required>
            <option disabled>Selecciona una opción</option>
            <% const themeVal = ["NO APLICA","ALIANZAS Y VINCULACIÓN","ASESORÍA LEGAL Y FISCAL","COMUNICACIÓN EXTERNA (MARKETING SOCIAL)","COMUNICACIÓN INTERNA","DIAGNÓSTICO DE MADUREZ INSTITUCIONAL EN LÍNEA","DIAGNÓSTICO DE MADUREZ INSTITUCIONAL PRESENCIAL","ESTRUCTURA ORGANIZACIONAL Y ADMINISTRACIÓN","FORTALECIMIENTO EQUIPO OPERATIVO","FORTALECIMIENTO INSTITUCIONAL","MODELO DE INTERVENCIÓN","MONITOREO Y EVALUACIÓN DE PROYECTOS","ÓRGANO DE GOBIERNO","PLANEACIÓN ESTRATÉGICA","SOSTENIBILIDAD FINANCIERA","TEORÍA DE CAMBIO","OTRO"] %>
              
              <% for(var i=0; i < themeVal.length; i++){ %>
                <% if(data.theme == themeVal[i]){ %>
                  <option value="<%= themeVal[i] %>" selected><%= themeVal[i] %></option>
              <%  }else{ %>
                <option value="<%= themeVal[i] %>"><%= themeVal[i] %></option>
                <% } %> 
               <% } %>     
      
          </select>
        </div>

        <div class="form-group" id="otherFieldDivT">
          <label for="otherFieldT" type="text">En caso de elegir otro, especifique</label> 
           <input id="otherFieldT" name="other" value="<%= data.other %>" type="text" class="form-control rounded" maxlength="45"> 

        </div>



        <div class="form-group" id="otherFieldDiv">
          <label for="otherField" type="text">¿Quién fue el aliado financiero?</label>
          <select type="text" name="ally_name" value="<%= data.ally_name %>" placeholder="Aliado" class="form-control rounded selPic" data-live-search="true" id="otherField">
            <option disabled selected>Selecciona una opción</option>
            <% if (data.orgs) { %>
             <% for(var i=0; i < data.orgs.length; i++){ %>
                <% if(data.ally_name == data.orgs[i].org_name){ %>
                  <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
              <%  }else{ %>
                <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                <% } %> 
               <% } %>
               <% } %>
          </select>
        
  
          <br>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <br>
              <input type="checkbox" class="custom-control-input" id="check3" value="1" onchange="javascript:showContent3()">
              <label class="custom-control-label" for="check3">Agregar más aliados</label>
            </div>
          </div>
  
          <div id="content3" style="display: none;">
  
          <div class="form-group">
            <label type="text">Aliado 2</label>
            <select type="text" name="ally_name2" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                   <% if(data.ally_name2 == data.orgs[i].org_name){ %>
                     <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>              
          </div>
  
          <div class="form-group">
            <label type="text">Aliado 3</label>
            <select type="text" name="ally_name3" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                   <% if(data.ally_name3 == data.orgs[i].org_name){ %>
                     <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>                
          </div>
  
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="check4" value="1" onchange="javascript:showContent4()">
              <label class="custom-control-label" for="check4">Agregar más aliados</label>
            </div>
          </div>
  
          <div id="content4" style="display: none;">
  
          <div class="form-group">
            <label type="text">Aliado 4</label>
            <select type="text" name="ally_name4" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                   <% if(data.ally_name4 == data.orgs[i].org_name){ %>
                     <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>                
          </div>
  
          
  
          <div class="form-group">
            <label type="text">Aliado 5</label>
            <select type="text" name="ally_name5" class="form-control rounded selPic" data-live-search="true">
              <option disabled selected>Selecciona una opción</option>
              <% if (data.orgs) { %>
                <% for(var i=0; i < data.orgs.length; i++){ %>
                   <% if(data.ally_name5 == data.orgs[i].org_name){ %>
                     <option value="<%= data.orgs[i].org_name %>" selected><%= data.orgs[i].org_name %></option>
                 <%  }else{ %>
                   <option value="<%= data.orgs[i].org_name %>"><%= data.orgs[i].org_name %></option>
                   <% } %> 
                  <% } %>
                  <% } %>
            </select>           
          </div>
  
          
          </div> <!--cierre del switch agregar más consultores 2-->
        </div> <!--cierre del switch agregar más consultores 1-->
  
  
      </div> 
        
        <div class="form-group">
          <label type="text">Nombre del proyecto</label>
          <input name="project_name" type="text" value="<%= data.project_name %>"  placeholder="Ingresa aquí el nombre del proyecto" maxlength="300" class="form-control rounded" required>
        </div>

        <div class="form-group">
          <label type="text">Objetivo del proyecto</label>
          <input name="project_objective" type="text" value="<%= data.project_objective %>"  placeholder="Ingresa aquí el objetivo del proyecto" class="form-control rounded" maxlength="1000" required>
        </div>

        <div class="form-group">
          <label type="text">Tipo de población</label>
          <select id="my-select" type="text" name="population_type" title="<%= data.population_type %>"  class="selectpicker form-control rounded" multiple required> 
            <option disabled>Selecciona una opción</option>
            <option>PRIMERA INFANCIA (0-5 AÑOS)</option>
            <option>INFANCIA (6-12 AÑOS)</option>
            <option>ADOLESCENCIA (13-18 AÑOS)</option>
            <option>JUVENTUD (19-29 AÑOS)</option>
            <option>ADULTEZ (30-59 AÑOS)</option>
            <option>PERSONA MAYOR (60 AÑOS O MÁS)</option>
            <option>ORGANIZACIONES DE LA SOCIEDAD CIVIL</option>
          </select> 
        </div>  

        <div class="row">

        <div class="col">  
        <div class="form-group">
          <label type="text">Beneficiarios</label>
          <input name="male_beneficiaries" type="number" value="<%= data.male_beneficiaries %>"  placeholder="Ingresa aquí el número de beneficiarios del proyecto" class="form-control rounded" required>
        </div>
      </div>

       <div class="col">
        <div class="form-group">
          <label type="text">Beneficiarias</label>
          <input name="female_beneficiaries" type="number" value="<%= data.female_beneficiaries %>"  placeholder="Ingresa aquí el número de beneficiarias del proyecto" class="form-control rounded" required>
        </div>
      </div> 
      
  </div>

        <div class="form-group">
          <label type="text">Instituciones beneficiadas</label>
          <input name="org_beneficiaries" type="number" value="<%= data.org_beneficiaries %>" placeholder="Ingresa aquí el número de Instituciones beneficiadas del proyecto" class="form-control rounded" required>
        </div>
          
        <div class="row">
          <div class="col">
          <div class="form-group">
            <label type="text">Fecha de inicio</label>
            <input name="start_date" id="datepicker" width="415" value="<%= data.start_date %>" class="form-control rounded" required/>
          <script>
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                width: 415,
            });
          </script>
          </div>
        </div>
          
          <div class="col">
          <div class="form-group">
            <label type="text">Fecha de término</label>
            <input name="end_date" id="datepicker2" width="415" value="<%= data.end_date %>"  class="form-control rounded" />
          <script>
            $('#datepicker2').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                width: 415
            });
          </script>
          </div>
        </div>
      </div>  
      <!-- cierre de row-->

          <div class="form-group">
            <label type="text">Logros</label>
            <input name="achievments" type="text" value="<%= data.achievments %>" placeholder="Ingresa aquí los logros del proyecto" maxlength="300" class="form-control rounded" required>
          </div>


        <div class="row">
          <div class="col">
          <div class="form-group">
            <label type="text">Estado de incidencia</label>
            <select id="otherField5" name="application_state" title="<%= data.application_state %>"  class="selectpicker form-control rounded" multiple required>
              <option disabled>Selecciona una o más opciones</option>    
              <option>AGUASCALIENTES</option>
              <option>BAJA CALIFORNIA</option>
              <option>BAJA CALIFORNIA SUR</option>
              <option>CAMPECHE</option>
              <option>CHIAPAS</option>
              <option>CHIHUAHUA</option>
              <option>CIUDAD DE MÉXICO</option>
              <option>COAHUILA</option>
              <option>COLIMA</option>
              <option>DURANGO</option>
              <option>ESTADO DE MÉXICO</option> 
              <option>GUANAJUATO</option> 
              <option>GUERRERO</option> 
              <option>HIDALGO</option> 
              <option>JALISCO</option> 
              <option>MICHOACÁN</option> 
              <option>MORELOS</option> 
              <option>NAYARIT</option> 
              <option>NUEVO LEÓN</option> 
              <option>OAXACA</option> 
              <option>PUEBLA</option> 
              <option>QUERÉTARO</option> 
              <option>QUINTANA ROO</option> 
              <option>SAN LUIS POTOSÍ</option> 
              <option>SINALOA</option> 
              <option>SONORA</option> 
              <option>TABASCO</option> 
              <option>TAMAULIPAS</option> 
              <option>TLAXCALA</option> 
              <option>VERACRUZ</option> 
              <option>YUCATÁN</option> 
              <option>ZACATECAS</option>   
              <option>TODOS LOS ESTADOS</option>
            </select>
          </div>
          </div>

          <div class="col">
          <div class="form-group">
            <label type="text">Municipio o Alcaldía</label>
            <input name="municipality" type="text" value="<%= data.municipality %>"  placeholder="Ingresa aquí el municipio o alcaldía de incidencia del proyecto" maxlength="50" class="form-control rounded" required>
          </div>
          </div>
          </div>

          <div class="form-group">
            <label type="text">Recursos invertidos</label>
            <input name="resources_invested" type="number" value="<%= data.resources_invested %>"  placeholder="Ingresa aquí los recursos invertidos en el proyecto" class="form-control rounded" required>
          </div>

          <div class="form-group">
            <label type="text">Fecha de actualización</label>
            <input name="update_date" id="datepicker3" width="415" value="<%= data.update_date %>" class="form-control rounded" required/>
          <script>
            $('#datepicker3').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy',
                width: 415,
            });
          </script>
          </div>

          <div class="form-group">
            <label type="text">Comentarios</label>
            <input name="comments" type="text" value="<%= data.comments %>"  placeholder="Máximo 1000 caracteres" maxlength="1000" class="form-control rounded"> 
          </div>

          <div class="form-group">
            <label type="text">Registra</label>
            <input type="text" name="register" value="<%= data.register %>" class="form-control rounded" readonly> 
           </div>

          <button type="submit" class="btn btn-info rounded">
            Actualizar
          </button>
            
          <a href="/participation" class="btn btn-danger rounded">
            Cancelar
          </a>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer'); -%>
