<%- include('partials/_header'); -%>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body"></div>
        <h5>Editar programa</h5>

        <form action="/program/update/<%= data.id_program %>" method="POST">
          <div class="form-group">
            <label type="text">Clave</label>
            <input type="text" name="program_code" value="<%= data.program_code %>" placeholder="Ingresa aquí la clave de programa" class="form-control rounded" autofocus>
          </div>
          <div class="form-group">
            <label type="text">Nombre</label>
            <input type="text" name="program_name" value="<%= data.program_name %>" placeholder="Ingresa aquí el nombre del Programa" class="form-control rounded">
          </div>
          
              <div class="form-group">
                <label type="text">Aliado Financiero</label>
                <input type="text" name="id_organization" value="<%= data.id_organization %>" placeholder="Aliado Financiero" class="form-control rounded" disabled>
              </div>

              <div class="row">
              <div class="form-group col">
                <label type="text">Línea estratégica</label>
                <select name="strategy_line" value="<%= data.strategy_line %>" placeholder="Línea estratégica" class="form-control rounded">
                <option>Formación</option>
                <option>Fortalecimiento</option>
                <option>Inversión Social</option>
                  </select>           
                 </div>
                 
                 <div class="form-group col">
                  <label type="text">Línea estratégica secundaria</label>
                  <select name="strategy_line2" value="<%= data.strategy_line2 %>" placeholder="Línea estratégica" class="form-control rounded">
                  <option>No aplica</option>
                  <option>Formación</option>
                  <option>Fortalecimiento</option>
                  <option>Inversión Social</option>
                    </select>           
                   </div> 
                  </div>  

          <div class="form-group">
            <label type="text">Cuenta Bancaria de ingresos</label>
            <select name="in_account" value="<%= data.in_account %>" placeholder="Cuenta de ingresos" class="form-control rounded">
              <option>FMBANORTE0384</option>
              <option>FMBANORTE8355</option>  
              <option>FMBANORTE8891</option>
              <option>FMBANORTE8903</option>
              <option>FMBBVA6048</option>
              <option>FMBNMX9071</option>
              <option>FMSANT4991</option>
            </select>  
            </div>
          
          <div class="form-group">
            <label type="text">Estatus</label>
              <select name="status" value="<%= data.status %>" placeholder="Estatus" class="form-control rounded">
                <option>Activo</option>
                <option>Finalizado</option>
                <option>Cancelado</option>
              </select>
          </div>
          <div class="form-group">
            <label type="text">Fecha de término</label>
            <input name="end_date" id="datepicker" width="415" value="<%= data.end_date %>" class="form-control rounded"/>
          <script>
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd/mm/yyyy'

            });
          </script>
          </div>
          

          <button type="submit" class="btn btn-info rounded">
            Actualizar
          </button>
            
          <a href="/program" class="btn btn-danger rounded">
            Cancelar
          </a>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer'); -%>
