<%- include('partials/_header'); -%>

<div class="container">

<br />
<!--Modal window trigger button -->
<div class="row">
  <div class="col">
  <button type="button" class="btn btn-info margin-left-3 rounded" data-toggle="modal" data-target="#agregar" >
      Agregar Programa
  </button>
  </div>

  <div class="col text-right">
    <button type="button" class="btn btn-success margin-left-3 rounded exportExcelProg" style="background-color: darkgreen; border-color: darkgreen;">
      <img src="/img/spreadsheet.png" width="15px"/>
    Exportar a Excel
    </button>
  </div>

</div><br /><br />

<!--Insert Modal window-->
<div class="modal fade" role="dialog"  id="agregar">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Programa</h5>
        
      </div>

      <div class="modal-body">
      
        <form action="/program/add" method="post">
            <div class="form-group">
              <label type="text">Clave</label>
              <input type="text" name="program_code" placeholder="Ingresa aquí la clave de programa" class="form-control rounded" autofocus required>
            </div>
            <div class="form-group">
              <label type="text">Nombre</label>
              <input type="text" name="program_name" placeholder="Ingresa aquí el nombre del Programa" class="form-control rounded" required>
            </div>
            
            <div class="row">
            <div class="form-group col">
              <label type="text">Línea estratégica</label>
              <select name="strategy_line" value="N/A" class="form-control rounded" required>
                <option disabled selected>Selecciona una opción</option>
                <option>FORMACIÓN</option>
                <option>FORTALECIMIENTO</option>
                <option>INVERSIÓN SOCIAL</option>
              </select>  
            </div>

            <div class="form-group col">
              <label type="text">Línea estratégica secundaria</label>
              <select name="strategy_line2" value="N/A" class="form-control rounded">
                <option>NO APLICA</option>
                <option>FORMACIÓN</option>
                <option>FORTALECIMIENTO</option>
                <option>INVERSIÓN SOCIAL</option>
                </select>
            </div>
          </div>   
            <div class="form-group">
              <label type="text">Cuenta Bancaria de ingresos</label>
              <select name="in_account" class="form-control rounded" required>
                <option disabled selected>Selecciona una opción</option>
                <option>FMBANORTE0384</option>
                <option>FMBANORTE8355</option>  
                <option>FMBANORTE8891</option>
                <option>FMBANORTE8903</option>
                <option>FMBBVA6048</option>
                <option>FMBNMX9071</option>
                <option>FMSANT4991</option>
                <option>FMBBVA1520</option>
              </select>  
            </div>
            
            <div class="form-group">
              <label type="text">Estatus</label>
              <select name="status" class="form-control rounded" required>
                <option disabled selected>Selecciona una opción</option>
                <option>ACTIVO</option>
                <option>FINALIZADO</option>
                <option>CANCELADO</option>
              </select>  
            </div>

            <div class="form-group">
              <label type="text">Registra</label>
              <input type="text" name="register" value="<%= data.email %>" class="form-control rounded" readonly> 
             </div>
            
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info rounded">Guardar</button>
        <button type="button" class="btn btn-danger rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </form>

    </div>
  </div>
</div>

</div>
<!--End of insert modal window-->

<!--Body Table-->

  <div class="table-responsive" >
      <table id="table" class="table table-sm table-active table-striped table-hover tableProg">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Línea estratégica</th>
            <th>Línea estratégica secundaria</th>
            <th>Cuenta Bancaria de ingresos</th>
            <th>Estatus</th>
            <th>Registra</th>
            <td>Acciones</td>
          </tr>
        </thead>

        <tbody>
          <% if (data.data) { %>
            <% for(var i = 0; i < data.data.length; i++) { %>
              <tr class="text-center">
                <td><%= (i + 1) %></td>
                <td><%= data.data[i].program_code %></td>
                <td><%= data.data[i].program_name %></td>
                <td><%= data.data[i].strategy_line %></td>
                <td><%= data.data[i].strategy_line2 %></td>
                <td><%= data.data[i].in_account %></td>
                <td><%= data.data[i].status %></td>
                <td><%= data.data[i].register %></td>
                
                <td>
                  <a href="program/update/<%= data.data[i].id_program %>" class="btn-sm btn-info rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </a>
                <br /> <br /> 
                
                  <button class="btn-sm btn-danger rounded" data-toggle="modal" data-target="#eliminar<%= data.data[i].id_program %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                </td>
            
              </tr>
           
          
      <!--Delete modal window-->
 <div class="modal" id="eliminar<%= data.data[i].id_program %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Programa</h5>
      </div>
      <div class="modal-body">
        <p>¿Realmente deseas eliminar este programa?</p>
      </div>
      <div class="modal-footer">
        
        <a href="/program/delete/<%= data.data[i].id_program %>" class="btn btn-danger rounded">Eliminar</a>
        <button type="button" class="btn btn-secondary rounded" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- End of delete modal window-->

          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
 





<%- include('partials/_footer'); -%>
