<%- include('partials/_header'); -%>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body"></div>
        <h5>Editar programa</h5>

        <form action="/program/update/<%= data.id_program %>" method="POST">
          <div class="form-group">
            <label type="text">Clave</label>
            <input type="text" name="program_code" value="<%= data.program_code %>" placeholder="Ingresa aquí la clave de programa" class="form-control rounded" autofocus required>
          </div>
          <div class="form-group">
            <label type="text">Nombre</label>
            <input type="text" name="program_name" value="<%= data.program_name %>" placeholder="Ingresa aquí el nombre del Programa" class="form-control rounded" required>
          </div>
          
              <div class="form-group">
                <label type="text">Aliado Financiero</label>
                <input type="text" name="id_organization" value="<%= data.id_organization %>" placeholder="Aliado Financiero" class="form-control rounded" disabled>
              </div>

              <div class="row">
              <div class="form-group col">
                <label type="text">Línea estratégica</label>
                <select name="strategy_line" placeholder="Línea estratégica" class="form-control rounded" required>
                  <option disabled>Selecciona una opción</option>
                  <% const staVal = ["Formación","Fortalecimiento","Inversión Social"] %>
              
                  <% for(var i=0; i < staVal.length; i++){ %>
                    <% if(data.strategy_line == staVal[i]){ %>
                      <option value="<%= staVal[i] %>" selected><%= staVal[i] %></option>
                  <%  }else{ %>
                    <option value="<%= staVal[i] %>"><%= staVal[i] %></option>
                    <% } %> 
                   <% } %> 

                </select>           
                 </div>
                 
                 <div class="form-group col">
                  <label type="text">Línea estratégica secundaria</label>
                  <select name="strategy_line2" placeholder="Línea estratégica" class="form-control rounded">
                    <% const staVal2 = ["Formación","Fortalecimiento","Inversión Social","No aplica"] %>
              
                    <% for(var i=0; i < staVal2.length; i++){ %>
                      <% if(data.strategy_line2 == staVal2[i]){ %>
                        <option value="<%= staVal2[i] %>" selected><%= staVal2[i] %></option>
                    <%  }else{ %>
                      <option value="<%= staVal2[i] %>"><%= staVal2[i] %></option>
                      <% } %> 
                     <% } %> 
                    </select>           
                   </div> 
                  </div>  

          <div class="form-group">
            <label type="text">Cuenta Bancaria de ingresos</label>
            <select name="in_account" value="<%= data.in_account %>" placeholder="Cuenta de ingresos" class="form-control rounded" required>
              <option disabled>Selecciona una opción</option>
              <% const accVal = ["FMBANORTE0384","FMBANORTE8355","FMBANORTE8891","FMBANORTE8903","FMBBVA6048","FMBNMX9071","FMSANT4991"] %>
              
                  <% for(var i=0; i < accVal.length; i++){ %>
                    <% if(data.in_account == accVal[i]){ %>
                      <option value="<%= accVal[i] %>" selected><%= accVal[i] %></option>
                  <%  }else{ %>
                    <option value="<%= accVal[i] %>"><%= accVal[i] %></option>
                    <% } %> 
                   <% } %>
            </select>  
            </div>
          
          <div class="form-group">
            <label type="text">Estatus</label>
              <select name="status" value="<%= data.status %>" placeholder="Estatus" class="form-control rounded" required>
                <option disabled>Selecciona una opción</option>
                <% const statVal = ["Activo","Finalizado","Cancelado"] %>
              
                  <% for(var i=0; i < statVal.length; i++){ %>
                    <% if(data.in_account == statVal[i]){ %>
                      <option value="<%= statVal[i] %>" selected><%= statVal[i] %></option>
                  <%  }else{ %>
                    <option value="<%= statVal[i] %>"><%= statVal[i] %></option>
                    <% } %> 
                   <% } %>
              </select>
          </div>

          <div class="form-group">
            <label type="text">Registra</label>
            <input type="text" name="register" value="<%= data.register %>" class="form-control rounded" readonly> 
           </div>
          

          <button type="submit" class="btn btn-info rounded">
            Actualizar
          </button>
            
          <a href="/program" class="btn btn-danger rounded">
            Cancelar
          </a>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer'); -%>
